{% extends "base.html" %}

{% block content %}
 <div class="container mt-4">
 <h2>Import CSV</h2>
     <div class="alert alert-warning">
         <strong>Warning: </strong> Your CSV file must match the structure of the <strong>Transaction</strong> model:
         <ul class="mt-2 mb-0">
             <li><strong>date</strong> — format: <strong>DD-MM-YYYY</strong></li>
             <li><strong>type </strong> - Expense or Income </li>
             <li><strong>color</strong></li>
             <li><strong>amount</strong></li>
             <li><strong>category</strong> </li>
             <li><strong>description</strong> — optional</li>
        </ul>
     </div>
 <form method="post" enctype="multipart/form-data">
     {% csrf_token %}
     {{ form.as_p }}
     <button class="btn btn-primary" type="submit">Upload CSV</button>
 </form>
 </div>
{% endblock %}