{% extends 'base.html' %}
{% block title %}Transactions{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class='fw-bold'>Transaction List</h1>
            <div>
                 <a href="{% url 'import_csv' %}" class="btn btn-outline-success">
                    CSV Import
                </a>
                <a href="{% url 'transaction_create' %}" class="btn btn-success">
                    + Add Transaction
                </a>
            </div>
        </div>


        <form method="get" class="mb-4">
            <input type="text" class="form-control" name="search" placeholder="Search Transactions" value="{{ request.GET.search }}">
        </form>

        <div class="mb-4">
        <a href="?filter=all" class="btn btn-primary me-2
            {% if request.GET.filter == 'all' or not request.GET.filter %}active{% endif %}">
            All
        </a>

        <a href="?filter=Income" class="btn btn-success me-2
            {% if request.GET.filter == 'Income' %}active{% endif %}">
            Income
        </a>

        <a href="?filter=Expense" class="btn btn-danger
            {% if request.GET.filter == 'Expense' %}active{% endif %}">
            Expense
        </a>
        </div>

        {% if transactions %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>
                            <span style="display: inline-block;width: 14px;height: 14px;background-color: {{ transaction.category.color }};border-radius: 3px;margin-right: 6px;">
                            </span>
                            {{ transaction.category.name }}
                        </td>
                        <td>{{ transaction.category.type }}</td>
                        <td>
                            {% if transaction.category.type == 'Expense' %}
                                <span class="text-danger">-{{ transaction.amount }}</span>
                            {% else %}
                                <span class="text-success">+{{ transaction.amount }}</span>
                            {% endif %}
                        </td>

                        <td>{{ transaction.description|truncatechars:40 }}</td>
                        <td class="d-flex gap-2">
                        <a href="{% url 'transaction_update' transaction.pk %}" class="btn btn-sm btn-warning me-1">Edit</a>
                        <a href="{% url 'transaction_delete' transaction.pk %}" class="btn btn-sm btn-danger me-1">Delete</a>
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No transactions found yet</p>
        {% endif %}

    {% if is_paginated %}

        <nav class="mt-auto mb-4 d-flex justify-content-center">
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-secondary btn-sm" href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Previous</a>
            {% endif %}
            <span class="mx-2 mt-1">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a class="btn btn-outline-secondary btn-sm" href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">Next</a>
            {% endif %}
        </nav>
    {% endif %}


    </div>
{% endblock %}